.top{
  display: flex;
  background-color:rgb(255, 156, 96);
}
.main1{
  margin-left: 25px;
  margin-top: 15px;
}
.main2{
  margin-left: 25px;
  margin-top:15px;
}
.main3{
  margin-left: 40%;
  margin-top: 10px;
}
.main4{
  margin-left: 10px;
  margin-top: 10px;
}
.main5{
  margin-left: 40%;
  margin-top: 10px;
}
.main6{
  margin-left: 10px;
  margin-top: 10px;
}
